/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require pepper-grinder/jquery-ui-1.9.2.custom.min
 *= require jqrid/css/ui.jqgrid
 *= require jqplot/jquery.jqplot
 *= require_tree .
 */

#menu_superior a:link {
    text-decoration: none
}

#menu_superior a:visited {
    text-decoration: none
}

#menu_superior a:active {
    text-decoration: none
}

#menu_superior a:hover {
    text-decoration: none
}

#menu_superior a.ativo {
    background-color: #9F4D11
}

#menu_lateral a:link {
    text-decoration: none
}

#menu_lateral a:visited {
    text-decoration: none
}

#menu_lateral a:active {
    text-decoration: none
}

#menu_lateral a:hover {
    text-decoration: none
}

#menu_lateral a.ativo {
    background-color: #9F4D11
}

#menu_superior {
    padding-top: 60px;
    height: 40px;
    margin: 0;
}

#menu_superior a, #menu_superior #sair {

    color: white;
    -webkit-border-radius: 9px 9px 0px 0px;
    border-radius: 9px 9px 0px 0px;
    background-color: #f58634;
    line-height: 40px;
    list-style: none;
    float: left;
    padding: 0 16px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
}

#logoSGR {
    float: left;
    width: 70px;
    height: 90px;
    margin: 0 5px 0 15px;
}

#menu_superior a:hover {
    background-color: #cd5e0c;
}

#menu_superior #sair {

    margin-right: 0;
    -webkit-border-radius: 9px 0px 0px 0px;
    border-radius: 9px 0px 0px 0px;
    float: right;
}

#menu_superior #mensagem {
    display: none;
}

#menu_lateral {
    float: left;
    width: 92px;
}

#menu_lateral {
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
}

#menu_lateral a {
    margin-bottom: 20px;
    display: block;
    color: white;
    -webkit-border-radius: 0px 7px 7px 0px;
    border-radius: 0px 7px 7px 0px;
    background-color: #f58634;
    list-style: none;
    padding: 6px;
    font-size: 15px;
}

#menu_lateral a:hover {
    background-color: #cd5e0c;
}

#content {
    float: right;
    width: 830px;
    height: 350px;
    background-color: white
}

#footer {
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    background-color: #f58634;
    float: left;
    margin: 0;
    width: 930px;
    height: 30px;
    line-height: 30px;
}

#content #menu_lateral a {
    text-align: center;
    padding: 0px;
}

#content #menu_lateral a {
    margin: 10px 0;
}

#content #menu_superior a {
    font-size: 30px;
}

#content #menu_lateral a {
    font-size: 25px;
}

#content .notice {
    text-align: center;
    color: red;
}