#container {
  color: white;
  font-family: sans-serif;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 1);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-top: 15px;
  width: 930px;
  height: 495px;
  margin: 0 auto;
  background: #f4f4f4; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f4f4f4 0%, #d2d3d5 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f4f4f4), color-stop(100%, #d2d3d5)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f4f4f4 0%, #d2d3d5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f4f4f4 0%, #d2d3d5 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f4f4f4 0%, #d2d3d5 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #f4f4f4 0%, #d2d3d5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d2d3d5', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

#menu_superior a:link {
  text-decoration: none
}

#menu_superior a:visited {
  text-decoration: none
}

#menu_superior a:active {
  text-decoration: none
}

#menu_superior a:hover {
  text-decoration: none
}

#menu_superior a.ativo {
  background-color: #9F4D11
}

#menu_lateral a:link {
  text-decoration: none
}

#menu_lateral a:visited {
  text-decoration: none
}

#menu_lateral a:active {
  text-decoration: none
}

#menu_lateral a:hover {
  text-decoration: none
}

#menu_lateral a.ativo {
  background-color: #9F4D11
}

#menu_superior {
  padding-top: 60px;
  height: 40px;
  margin: 0;
}

#menu_superior a, #menu_superior #sair {

  color: white;
  -webkit-border-radius: 9px 9px 0px 0px;
  border-radius: 9px 9px 0px 0px;
  background-color: #f58634;
  line-height: 40px;
  list-style: none;
  float: left;
  padding: 0 16px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}

#logoSGR {
  float: left;
  width: 70px;
  height: 90px;
  margin: 0 5px 0 15px;
}

#menu_superior a:hover {
  background-color: #cd5e0c;
}

#menu_superior #sair {

  margin-right: 0;
  -webkit-border-radius: 9px 0px 0px 0px;
  border-radius: 9px 0px 0px 0px;
  float: right;
}

#menu_superior #mensagem {
  display: none;
}

#menu_lateral {
  float: left;
  width: 92px;
}

#menu_lateral {
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

#menu_lateral a {
  margin-bottom: 20px;
  display: block;
  color: white;
  -webkit-border-radius: 0px 7px 7px 0px;
  border-radius: 0px 7px 7px 0px;
  background-color: #f58634;
  list-style: none;
  padding: 6px;
  font-size: 15px;
}

#menu_lateral a:hover {
  background-color: #cd5e0c;
}

#content {
  float: right;
  width: 830px;
  height: 350px;
  background-color: white
}

#footer {
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #f58634;
  float: left;
  margin: 0;
  width: 930px;
  height: 30px;
  line-height: 30px;
}

#content #menu_lateral a {
  text-align: center;
  padding: 0px;
}

#content #menu_lateral a {
  margin: 10px 0;
}

#content #menu_superior a {
  font-size: 30px;
}

#content #menu_lateral a {
  font-size: 25px;
}

#content .notice {
  text-align: center;
  color: red;
}

/*CODIGO QUE MODIFICA A MANEIRA QUE OS ELEMENTOS QUE USAM JQUERY APARECEM*/
#gbox_lista {
  border-right: 0;
  border-left: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

#gview_lista div:first-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}

.ui-jqgrid .ui-pg-input {
  height: 15px;
}