<p>Bem-vindo <%= @email %>!</p>

<p>Você pode confirmar sua conta acessando o link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Para ativar a sua conta fale com o administrador/gerente</p>