<p>Olá <%= @resource.email %>!</p>

<p>Alguém fez um requisição para mudar a senha desta conta. Você pode fazer isto acessando o link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não pediu uma mudança na senha, por favor ignore este email.</p>